[database]
Type = mysql
User = lanshan
Password =lanshan
Host = 127.0.0.1:3306
Name = lanshan
TablePrefix = ls_


[JWT]
Realm = lanshan
Key = hafranslanshan123
IdentityKey = id


[QQMeeting]
AppID = 123456789
SDKID = 23456789
SecretID = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SecretKey = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx


[sms]
account = xxxxx
password = xxxxxxx